<div *ngIf="loggedIn; else commercial" class="">
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav class="grid grid-wrap">
        <a routerLink="/" routerLinkActiveOptions="{ exact: true }">Hem</a>
        <a routerLink="/history" routerLinkActive="active">Historik</a> 
        <a routerLink="/account" routerLinkActive="active">Konto</a> 
    </nav>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
</div>

<ng-template #commercial>
    <app-commercial></app-commercial>
</ng-template>

