:host {
    grid-column: 1/span 5;
    background-color: rgb(133, 133, 133);
    height: 15vh;
}

h1, h2 {
    grid-column: 1/span 5;
    margin: 0;
}

h1 {
    grid-row: 1;
}

h2 {
    grid-row: 2;
}