<div class="image-div">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item *ngFor="let img of images">
          <img class="d-block w-100" src={{img.src}} alt={{img.alt}}>
        </mdb-carousel-item>
    </mdb-carousel>
    <button 
        mat-raised-button
        (click)= "openDialog()"
    >Oauth</button>
</div>

<div class="content-div center-content">
    En commerical div
</div>

<div class="content-div center-content">
    Annan commerical div
</div>

<div class="content-div center-content">
    Tredje commercial div
</div>