<div class="image-div">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item *ngFor="let img of images">
          <img class="d-block w-100" src={{img.src}} alt={{img.alt}}>
        </mdb-carousel-item>
    </mdb-carousel>
    <button 
        mat-raised-button
        (click)= "openLoginDialog()"
    >Logga in / registera konto</button>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background"> 
    <p>  
        sctr finns i  
        <span class="green-color">
           3
        </span>
        städer
    </p>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background">
    <p> 
        <span class="yellow-color">
            1002
        </span>
            snabba 
        <span class="red-color">
            elsparkcyklar
        </span>
    </p>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background">
   <p> 
       Hrdr fstr
       <span class="orange-color">
            sctr
       </span>
    </p>
</div>
