.account-details {
    grid-column: 1 /span 4;
    grid-row: 1;
    border: 1px solid grey;
    padding: 1rem;
}

.payment-form {
    grid-column: 5/span 8;
    grid-row: 1;
    border: 1px solid grey;
}
