/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-wrap {
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(2rem, auto);
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content-div {
    padding: 2rem;
    grid-column-start: auto;
    grid-column-end: span 4;
}

/* .outside {
  margin: 0 calc((4em)/2);
} */
