/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: grid;
    grid-template-rows: 10vh 5vh auto 25vh;
}

.app-header-link, app-navbar, app-body, app-footer {
    grid-column: 1/span 5;

}

/* Link sourrding header */ 
.app-header-link {
    grid-row: 1;
    background-color: rgb(68, 75, 75);
}

app-body {
    grid-row: 2 /span 2;
    min-height: 65vh;
}
app-footer {
    grid-row: 4;
}

.grid-wrap {
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(2rem, auto);
}

.align-items {
    height: 100%;
    align-items: center;
}

.fill-body {
    min-height: 45vh;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content-div {
    padding: 2rem;
    grid-column-start: auto;
    grid-column-end: span 4;
    border-radius: 3px;
}

.nav-link:hover {
    color: orange;
}

h2 {
    margin: 0; 
}

.darkgrey-background {
    background-color: #424242;
}

.darkgrey {
    color: #424242;
}


.green-background {
    background-color: #69f0ae;
}

.green-color {
    color: #69f0ae;
}

.purple-background {
    background-color: #7b1fa2;
}

.purple-color {
    color: #7b1fa2;
}

.orange-background {
    background-color: orange;
}

.orange-color {
    color: orange;
}

.red-background {
    background-color: lightcoral;
}

.red-color {
    color: lightcoral
}

.yellow-background {
    background-color: rgb(226, 226, 138);
}

.yellow-color {
    color: rgb(226, 226, 138);
}

.grey-background {
    background-color: grey;
    color: white;
}

.grey-color {
    color: grey; 
}
