
<div class="content-div box-shadow align-items darkgrey-background">
   <img src="assets/images/okai-vehicles-kWy_gq3dN8E-unsplash.jpg" alt="homepage-sctr-img">
   <div class="text-div center-content align-items"> 
      <p>  
            För varje resa bidrar du till bättre 
            <span class="green-color">
               miljö
            </span>
      </p>
   </div>
</div>


<div class="content-div box-shadow align-items darkgrey-background">
   <img src="assets/images/okai-vehicles-BwuDAkGSWSU-unsplash.jpg" alt="homepage-sctr-img">
   <div class="text-div center-content align-items">
      <p> Du ges möjlighet att parkera var du 
         <span class="yellow-color">
             vill
         </span>
     </p>
   </div>
</div>

<div class="content-div box-shadow align-items darkgrey-background">
   <img src="assets/images/pexels-brett-sayles-2380611.jpg" alt="homepage-sctr-img">
   <div class="text-div center-content align-items">
      <p> 
         Du behöver inte passa någon 
         <span class="orange-color">
            tidtabell
         </span>
      </p>
   </div>
</div>
