<div class="content-div center-content box-shadow align-items darkgrey-background"> 
   <p>  
       Körda resor: 
       <span class="green-color">
          test
       </span>
   </p>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background">
   <p> Senast körda:
       <span class="yellow-color">
           test
       </span>
   </p>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background">
  <p> 
      Elsparkcyklar:
      <span class="orange-color">
         test
      </span>
   </p>
</div>
