.content-div {
    padding: 0;
    height: 30vh;    
}

div p {
    padding: 1em;
    color: white;
}

img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.text-div {
    height: 10vh;
}

p {
    margin: 0;
}