
<div class="content-div box-shadow align-items darkgrey-background">
   <img src="assets/images/okai-vehicles-kWy_gq3dN8E-unsplash.jpg" alt="homepage-sctr-img">
   <div> 
      <p>  
            Körda resor: 
            <span class="green-color">
               test
            </span>
      </p>
   </div>
</div>


<div class="content-div center-content box-shadow align-items darkgrey-background">
   <img src="assets/images/okai-vehicles-BwuDAkGSWSU-unsplash.jpg" alt="homepage-sctr-img">
   <div>
      <p> Senast körda:
         <span class="yellow-color">
             test
         </span>
     </p>
   </div>
</div>

<div class="content-div center-content box-shadow align-items darkgrey-background">
   <img src="assets/images/pexels-brett-sayles-2380611.jpg" alt="homepage-sctr-img">
   <div>
      <p> 
         Elsparkcyklar:
         <span class="orange-color">
            test
         </span>
      </p>
   </div>
</div>
